.container {
  padding: 20px;
}
.container .filter {
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-text {
  font-size: x-large;
}

.options {
  padding-left: 10px
}

.movie-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter select {
  -webkit-appearance: none;
    outline: none;
    background: #a6a6a6;
    border: none;
    background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/10897-200.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    padding: 5px 35px 5px 5px;
}
