.movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.theme-strip {
    display: 'inline-block';
    min-width: 10%;
  border-radius: 10px;
}
.movie-rating {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #ffe066;
  min-width: 10%;
  padding: 20px;
}

.rating {
  align-self: center;
  font-size: xx-large;
}

.movie-content {
  display: flex;
  background-color: #bfbfbf;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px
}

.movie-content .name {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 5px;
}
.movie-content .desc {
  font-size: small;
  padding: 5px;
}

.actors-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-content: center;
}

.actors-date ul {
  margin: 0px;
  padding-left: 10px;
}